<ScrollView (scroll)="onScroll($event)">
    <i class="fas fa-user"></i>
    <StackLayout class="p-20">
    
     <image src="~/app/images/logo.png" height="350px" width="auto" class="logo"></image>
    
     <form [formGroup]="loginForm" (tap)="login()">
      <GridLayout class="m-10 input-border" columns="*,auto">
      <!--<TextField formControlName="email" hint="Ingrese su email"></TextField> -->
      <MDTextField  placeholderColor="black" variant="outline"
                    hint="Ingrese su email" returnKeyType="next" (focus)="onFocus($event)" (blur)="onBlur($event)"
                    (textChange)="onTextChange($event)" formControlName="email" class="inputHeight textFieldMargins"></MDTextField>
      </GridLayout>
      <GridLayout class="m-10 input-border" columns="*,auto">
        <MDTextField secure="{{ secure }}" placeholderColor="black" variant="outline"
                      hint="Ingrese su contraseña" returnKeyType="next" (focus)="onFocus($event)" (blur)="onBlur($event)"
                      (textChange)="onTextChange($event)"formControlName="password" class="inputHeight textFieldMargins">
        </MDTextField>
      </GridLayout>
      
      <GridLayout class="m-10 input-border" columns="*,auto">
        <Label *ngIf="secure"  class="icon" text="&#xe897;" (tap)="hidePassword()"></Label>  <Label *ngIf="secure"  class="label-psw-mgn" text="Mostrar contraseña"></Label>
        <Label *ngIf="!secure" class="icon" text="&#xe898;" (tap)="hidePassword()"></Label> <Label *ngIf="!secure"  class="label-psw-mgn" text="Ocultar contraseña"></Label>
      </GridLayout>
        
       <MDButton rippleColor="grey" text="Iniciar sesión" (tap)="login()" isEnabled="{{!loading}}" class=" btn  "></MDButton>
     </form>
     <br>
      <Label text="¿Aún no estás registrado?" class="fontSize text-center registerLabelMargins"></Label>  
      <!--<Label class="icon" text="&#xe897;"></Label> 
      <Label class="icon" text="&#xe898;"></Label> -->
     <MDButton rippleColor="grey" text="Registrarse" (tap)="register()" isEnabled="{{!loading}}" class=" btn  "></MDButton>
      
    </StackLayout>
    </ScrollView>