    <StackLayout class="p-50">
      <Label text="Home works! (Content served from HomeComponent)" class="fontSize text-center registerLabelMargins"></Label>  
      <button text="Apreta para ir a tasks" (tap)="goTasks();"></button>

      <label text="1" class="fontSize text-center registerLabelMargins">
      </label>

      <label text="2" class="fontSize text-center registerLabelMargins">
      </label>

      <label text="3" class="fontSize text-center registerLabelMargins">
      </label>


      <label text="4" class="fontSize text-center registerLabelMargins">
      </label>


      <label text="5" class="fontSize text-center registerLabelMargins">
      </label>


      <label text="6" class="fontSize text-center registerLabelMargins">
      </label>

      <label text="7" class="fontSize text-center registerLabelMargins">
      </label>

    </StackLayout>
    
    
     