 

 

<ActionBar title="titlee"> 
     <Label *ngIf="isAndroid()" row="0" horizontalAlignment="left" class="icon" text="&#xe5d2;" (tap)="onOpenDrawer()">xD</Label> 
    <ActionItem text="Menu" *ngIf="isIOS()" ios.position="right" (tap)="onOpenDrawer()"></ActionItem>
</ActionBar>

<!--
    <GridLayout>
    <Drawer #drawer class="drawer">
        <GridLayout leftDrawer width="300" backgroundColor="white" rows="auto, *">
            <StackLayout row="0">
                <StackLayout backgroundColor="#eeeeee" padding="25">
                    <GridLayout columns="80, *" height="100">
                        <StackLayout col="0" class="avatar">
                            <Label text="JS"></Label>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout>
                        <Label text="John Smith" fontWeight="bold"></Label>
                        <Label text="john.smith@example.com"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout>
                    <Button text="Inicio" class="button" (tap)="goHome()"></Button> 
                    <Button text="Tareas" class="button" (tap)="goTasks()"></Button> 
                    <Button text="Support" class="button" (tap)="onCloseDrawer()"></Button> 
                    <Button text="Settings" class="button" (tap)="onCloseDrawer()"></Button> 
                    <Button text="Cerrar sesion" class="button" (tap)="onCloseDrawer()"></Button> 
                </StackLayout>
            </StackLayout>

            <StackLayout mainContent backgroundColor="white">
                <page-router-outlet></page-router-outlet>
            </StackLayout>


        </GridLayout>
    </Drawer>
 
</GridLayout>
-->
 
 
<GridLayout>
    <Drawer #drawer class="drawer">
        <GridLayout leftDrawer width="300" backgroundColor="white" rows="auto, *">
            <StackLayout row="0">
                <StackLayout backgroundColor="#eeeeee" padding="25">
                    <GridLayout columns="80, *" height="100">
                        <StackLayout col="0" class="avatar">
                            <Label text="JS"></Label>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout>
                        <Label text="John Smith" fontWeight="bold"></Label>
                        <Label text="john.smith@example.com"></Label>
                    </StackLayout>
                </StackLayout>
                <StackLayout>
                    <Button text="Inicio" class="button" (tap)="goHome()"></Button> 
                    <Button text="Tareas" class="button" (tap)="goTasks()"></Button> 
                    <Button text="Support" class="button" (tap)="onCloseDrawer()"></Button> 
                    <Button text="Settings" class="button" (tap)="onCloseDrawer()"></Button> 
                    <Button text="Cerrar sesion" class="button" (tap)="onCloseDrawer()"></Button> 
                </StackLayout>
            </StackLayout>
 
        </GridLayout> 

        <StackLayout mainContent backgroundColor="white"> 
            <page-router-outlet></page-router-outlet>
        </StackLayout>
    </Drawer>
</GridLayout>
 
 
